header{
	position: relative;
	top: 5rem;
	overflow: hidden;
	padding: 2rem 0;
	margin-bottom: 5rem;
	transition: var(--transition);
}
.header-container{
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	gap:  5rem;
	height: 100%;
}
.header-left p{
	margin: 1rem 0 2.4rem;
}
.header-right img{
	border-radius: 1rem;
}
.header-left a.btn{
	font-size: 1.5rem;
	font-weight: 700;
}

.header-container i.add{
	font-size: 2rem;
	transition: 0.5s all ease-in-out;
	opacity: 1;
	animation: anim 10s cubic-bezier(0.215, 0.610, 0.355, 1) infinite;
}
.header-container .btn:hover i.add{
}
@keyframes anim {
	0%{
		transform: skew(0);
		transform: translateX(0);
		transform: scale(1);
		opacity: 1;
		transform: skewX(40deg);
	}
	50%{
		transform: translateX(450px);
		color: var(--bg);
		opacity: 1;
	}75%{
		transform: translateX(0);
		color: var(--bg);
		opacity: 0.5;
	}
	100%{
		opacity: 1;
		transform: translateX(0);
	}
}


h2{
	text-align: center;
    padding: 1rem;
    font-weight: 700;
    letter-spacing: 10px;
    font-size: 50px;
}